# Pandas tutorial

## Import csv file, basic operations

IMPORTANT: all these operations return a NEW pandas DataFrame, containing the same data of the original one

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./pokemon_dataset/pokemon.csv')

In [3]:
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0

In [4]:
df.tail(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [5]:
df.describe()

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,height_m,hp,percentage_male,pokedex_number,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
count,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,...,781.000000,801.000000,703.000000,801.000000,801.000000,801.000000,801.000000,781.000000,801.000000,801.000000
mean,0.996255,1.057116,0.968789,1.073970,1.068976,1.065543,1.135456,1.192884,0.985019,1.034020,...,1.163892,68.958801,55.155761,401.000000,71.305868,70.911361,66.334582,61.378105,3.690387,0.087391
std,0.597248,0.438142,0.353058,0.654962,0.522167,0.717251,0.691853,0.604488,0.558256,0.788896,...,1.080326,26.576015,20.261623,231.373075,32.353826,27.942501,28.907662,109.354766,1.930420,0.282583
min,0.250000,0.250000,0.000000,0.000000,0.250000,0.000000,0.250000,0.250000,0.000000,0.250000,...,0.100000,1.000000,0.000000,1.000000,10.000000,20.000000,5.000000,0.100000,1.000000,0.000000
25%,0.500000,1.000000,1.000000,0.500000,1.000000,0.500000,0.500000,1.000000,1.000000,0.500000,...,0.600000,50.000000,50.000000,201.000000,45.000000,50.000000,45.000000,9.000000,2.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,65.000000,50.000000,401.000000,65.000000,66.000000,65.000000,27.300000,4.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,1.500000,80.000000,50.000000,601.000000,91.000000,90.000000,85.000000,64.800000,5.000000,0.000000
max,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,14.500000,255.000000,100.000000,801.000000,194.000000,230.000000,180.000000,999.900000,7.000000,1.000000

In [6]:
df.size

32841

In [7]:
df.shape

(801, 41)

In [8]:
# Print a concise summary of a DataFrame. This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

In [9]:
# Return the dtypes in the DataFrame.
df.dtypes

abilities             object
against_bug          float64
against_dark         float64
against_dragon       float64
against_electric     float64
against_fairy        float64
against_fight        float64
against_fire         float64
against_flying       float64
against_ghost        float64
against_grass        float64
against_ground       float64
against_ice          float64
against_normal       float64
against_poison       float64
against_psychic      float64
against_rock         float64
against_steel        float64
against_water        float64
attack                 int64
base_egg_steps         int64
base_happiness         int64
base_total             int64
capture_rate          object
classfication         object
defense                int64
experience_growth      int64
height_m             float64
hp                     int64
japanese_name         object
name                  object
percentage_male      float64
pokedex_number         int64
sp_attack              int64
sp_defense             int64
speed                  int64
type1                 object
type2                 object
weight_kg            float64
generation             int64
is_legendary           int64
dtype: object

In [10]:
list(df.columns)

['abilities',
 'against_bug',
 'against_dark',
 'against_dragon',
 'against_electric',
 'against_fairy',
 'against_fight',
 'against_fire',
 'against_flying',
 'against_ghost',
 'against_grass',
 'against_ground',
 'against_ice',
 'against_normal',
 'against_poison',
 'against_psychic',
 'against_rock',
 'against_steel',
 'against_water',
 'attack',
 'base_egg_steps',
 'base_happiness',
 'base_total',
 'capture_rate',
 'classfication',
 'defense',
 'experience_growth',
 'height_m',
 'hp',
 'japanese_name',
 'name',
 'percentage_male',
 'pokedex_number',
 'sp_attack',
 'sp_defense',
 'speed',
 'type1',
 'type2',
 'weight_kg',
 'generation',
 'is_legendary']

In [11]:
# Convert columns to best possible dtypes using dtypes supporting pd.NA.
df.convert_dtypes().dtypes

abilities             string
against_bug          float64
against_dark         float64
against_dragon       float64
against_electric     float64
against_fairy        float64
against_fight        float64
against_fire         float64
against_flying       float64
against_ghost        float64
against_grass        float64
against_ground       float64
against_ice          float64
against_normal       float64
against_poison       float64
against_psychic      float64
against_rock         float64
against_steel        float64
against_water        float64
attack                 Int64
base_egg_steps         Int64
base_happiness         Int64
base_total             Int64
capture_rate          string
classfication         string
defense                Int64
experience_growth      Int64
height_m             float64
hp                     Int64
japanese_name         string
name                  string
percentage_male      float64
pokedex_number         Int64
sp_attack              Int64
sp_defense             Int64
speed                  Int64
type1                 string
type2                 string
weight_kg            float64
generation             Int64
is_legendary           Int64
dtype: object

In [12]:
# Cast a pandas object to a specified dtype dtype.
df.astype({'is_legendary': 'int16'}, copy=True).dtypes

abilities             object
against_bug          float64
against_dark         float64
against_dragon       float64
against_electric     float64
against_fairy        float64
against_fight        float64
against_fire         float64
against_flying       float64
against_ghost        float64
against_grass        float64
against_ground       float64
against_ice          float64
against_normal       float64
against_poison       float64
against_psychic      float64
against_rock         float64
against_steel        float64
against_water        float64
attack                 int64
base_egg_steps         int64
base_happiness         int64
base_total             int64
capture_rate          object
classfication         object
defense                int64
experience_growth      int64
height_m             float64
hp                     int64
japanese_name         object
name                  object
percentage_male      float64
pokedex_number         int64
sp_attack              int64
sp_defense             int64
speed                  int64
type1                 object
type2                 object
weight_kg            float64
generation             int64
is_legendary           int16
dtype: object

In [13]:
df.empty

False

In [14]:
# Iterate over DataFrame rows as (index, Series) pairs.
df.iterrows()

In [15]:
# Iterate over (column name, Series) pairs.
df.iteritems()

## Indexing

In [16]:
# Column selection
df.name.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: name, dtype: object

In [17]:
# Columns selection
df['name'].head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: name, dtype: object

In [18]:
df[['type1', 'name']].head(3)

   type1       name
0  grass  Bulbasaur
1  grass    Ivysaur
2  grass   Venusaur

In [19]:
# Purely integer-location based indexing for selection by position. .iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.
df.iloc[0:3, 30]

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: name, dtype: object

In [20]:
# Access a group of rows and columns by label(s) or a boolean array. .loc[] is primarily label based, but may also be used with a boolean array.
c = (df['type1'] == "grass")
df.loc[c, 'name'].head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: name, dtype: object

In [21]:
df.loc[0:3, 'name']

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
Name: name, dtype: object

## any, all
Used for Boolean DataFrames

In [22]:
# Return whether all elements are True, potentially over an axis. Returns True unless there at least one element within a series or along a Dataframe axis that is False or equivalent (e.g. zero or empty).
(df['attack'] > 100).all()

False

In [23]:
df.isna().all(axis='index')

abilities            False
against_bug          False
against_dark         False
against_dragon       False
against_electric     False
against_fairy        False
against_fight        False
against_fire         False
against_flying       False
against_ghost        False
against_grass        False
against_ground       False
against_ice          False
against_normal       False
against_poison       False
against_psychic      False
against_rock         False
against_steel        False
against_water        False
attack               False
base_egg_steps       False
base_happiness       False
base_total           False
capture_rate         False
classfication        False
defense              False
experience_growth    False
height_m             False
hp                   False
japanese_name        False
name                 False
percentage_male      False
pokedex_number       False
sp_attack            False
sp_defense           False
speed                False
type1                False
type2                False
weight_kg            False
generation           False
is_legendary         False
dtype: bool

In [24]:
df.isna().all(axis='columns').head(3)

0    False
1    False
2    False
dtype: bool

In [25]:
# Return whether any element is True, potentially over an axis. Returns False unless there is at least one element within a series or along a Dataframe axis that is True or equivalent (e.g. non-zero or non-empty).
(df['attack'] > 100).any()

True

In [26]:
df.isna().any(axis='columns').head(3)

0    False
1    False
2    False
dtype: bool

## Comparison operators
    (eq, ne, le, lt, ge, gt)
    ==, !=, <=, <, >=, >

In [27]:
(df['weight_kg'] > 10)

0      False
1       True
2       True
3      False
4       True
       ...
796     True
797    False
798     True
799     True
800     True
Name: weight_kg, Length: 801, dtype: bool

In [28]:
(df['attack'] > df['defense'])

0      False
1      False
2      False
3       True
4       True
       ...
796    False
797     True
798     True
799     True
800    False
Length: 801, dtype: bool

In [29]:
# Boolean indexing & and
(df['attack'] > 100) & (df['defense'] > 100)

0      False
1      False
2      False
3      False
4      False
       ...
796     True
797     True
798    False
799     True
800    False
Length: 801, dtype: bool

In [30]:
#Boolean indexing | or
(df['attack'] > 100) | (df['defense'] > 100)

0      False
1      False
2       True
3      False
4      False
       ...
796     True
797     True
798     True
799     True
800     True
Length: 801, dtype: bool

In [31]:
# Boolean indexing ~ not
~(df['attack'] > 100)

0       True
1       True
2       True
3       True
4       True
       ...
796    False
797    False
798    False
799    False
800     True
Name: attack, Length: 801, dtype: bool

## Count number of True/False values in boolean Series, DataFrame

In [32]:
(df['attack'] > 100).value_counts()[True]

169

In [33]:
(df['attack'] > 100).sum()

169

## Missing values

In [34]:
# NaN values in pandas come from numpy
import numpy as np
np.nan

nan

In [35]:
df.isna().head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [36]:
df.isnull().head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [37]:
df.notna().head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [38]:
df.isna().any()

abilities            False
against_bug          False
against_dark         False
against_dragon       False
against_electric     False
against_fairy        False
against_fight        False
against_fire         False
against_flying       False
against_ghost        False
against_grass        False
against_ground       False
against_ice          False
against_normal       False
against_poison       False
against_psychic      False
against_rock         False
against_steel        False
against_water        False
attack               False
base_egg_steps       False
base_happiness       False
base_total           False
capture_rate         False
classfication        False
defense              False
experience_growth    False
height_m              True
hp                   False
japanese_name        False
name                 False
percentage_male       True
pokedex_number       False
sp_attack            False
sp_defense           False
speed                False
type1                False
type2                 True
weight_kg             True
generation           False
is_legendary         False
dtype: bool

In [39]:
df.isna().sum(axis='rows')

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [40]:
# Remove missing values from subset. how{‘any’, ‘all’}, default ‘any’, axis{0 or ‘index’, 1 or ‘columns’}, default 0, subset optional.
df_clean = df.dropna(axis='index', how='any', thresh=None, subset=['type2', 'weight_kg', 'percentage_male'], inplace=False)
df_clean.isna().sum()

abilities            0
against_bug          0
against_dark         0
against_dragon       0
against_electric     0
against_fairy        0
against_fight        0
against_fire         0
against_flying       0
against_ghost        0
against_grass        0
against_ground       0
against_ice          0
against_normal       0
against_poison       0
against_psychic      0
against_rock         0
against_steel        0
against_water        0
attack               0
base_egg_steps       0
base_happiness       0
base_total           0
capture_rate         0
classfication        0
defense              0
experience_growth    0
height_m             0
hp                   0
japanese_name        0
name                 0
percentage_male      0
pokedex_number       0
sp_attack            0
sp_defense           0
speed                0
type1                0
type2                0
weight_kg            0
generation           0
is_legendary         0
dtype: int64

In [41]:
# Fill NA/NaN values using the specified method. ffill “forward fill” replaces missing values with the values in the previous row. bfill “backward fill”.
# axis{0 or ‘index’, 1 or ‘columns’} Axis along which to fill missing values.
df_clean = df.fillna(method='ffill', axis='index', inplace=False)
df_clean.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0

In [42]:
# fill missing values with mean of the column
df_clean = df.fillna(df.mean(), inplace=False)
df_clean.isna().sum()

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m               0
hp                     0
japanese_name          0
name                   0
percentage_male        0
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg              0
generation             0
is_legendary           0
dtype: int64

In [43]:
df_clean = df.fillna({'type2': 10, 'weight_kg': 10, 'percentage_male': 10}, inplace=False)
df_clean.isna().sum()

abilities             0
against_bug           0
against_dark          0
against_dragon        0
against_electric      0
against_fairy         0
against_fight         0
against_fire          0
against_flying        0
against_ghost         0
against_grass         0
against_ground        0
against_ice           0
against_normal        0
against_poison        0
against_psychic       0
against_rock          0
against_steel         0
against_water         0
attack                0
base_egg_steps        0
base_happiness        0
base_total            0
capture_rate          0
classfication         0
defense               0
experience_growth     0
height_m             20
hp                    0
japanese_name         0
name                  0
percentage_male       0
pokedex_number        0
sp_attack             0
sp_defense            0
speed                 0
type1                 0
type2                 0
weight_kg             0
generation            0
is_legendary          0
dtype: int64

## Sorting data

In [44]:
# Sort by the values along either axis.
df.sort_values(['attack', 'defense', 'name'],
               ascending=[False, False, False],
               inplace=False,
               kind='quicksort',
               na_position='last',
               ignore_index=False)[['name', 'attack', 'defense']].head(5)

          name  attack  defense
213  Heracross     185      115
797    Kartana     181      131
382    Groudon     180      160
383   Rayquaza     180      100
444   Garchomp     170      115

## Create column, drop column, drop row, reshaping

In [45]:
df['dummy'] = 0
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,0

In [46]:
df['dummy1'] = df['against_fairy'] + df['against_fire']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy,dummy1
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,65,65,45,grass,poison,6.9,1,0,0,2.5
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,80,80,60,grass,poison,13.0,1,0,0,2.5
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,122,120,80,grass,poison,100.0,1,0,0,2.5

In [47]:
# Drop specified labels from rows or columns. Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names.
df.drop(columns=['dummy', 'dummy1'], inplace=True)
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0

In [48]:
new_df = df.drop(index=[0, 1, 2], inplace=False)
new_df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
5,"['Blaze', 'Solar Power']",0.25,1.0,1.0,2.0,0.5,0.5,0.5,1.0,1.0,...,88.1,6,159,115,100,fire,flying,90.5,1,0

## Element-wise operations: add, sum, mul, div, etc
By default these DataFrame methods operate accross columns.

In [49]:
# Return the sum of the values over the requested axis. This is equivalent to the method numpy.sum.
df['dummy'] = df[['attack', 'defense']].sum(axis='columns')
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,98
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,125
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,223

In [50]:
df['dummy'] = df['attack'] + df['defense']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,98
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,125
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,223

In [51]:
df['dummy'] = df['attack'] + 12.35
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,61.35
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,74.35
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,112.35

In [52]:
import numpy as np
df['dummy'] = df['attack'] + np.random.randn(df.shape[0])
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,48.965177
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,61.939339
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,100.692742

In [53]:
# Get Multiplication of dataframe and other, element-wise (binary operator mul). Equivalent to dataframe * other, but with support to substitute a fill_value for missing data in one of the inputs.
df['dummy'] = df['attack'].mul(df['defense'], fill_value=1)
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,2401
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,3906
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,12300

In [54]:
df['dummy'] = df['attack'] * df['defense']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,2401
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,3906
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,12300

In [55]:
# Get Floating division of dataframe and other, element-wise (binary operator truediv). Equivalent to dataframe / other, but with support to substitute a fill_value for missing data in one of the inputs.
df['dummy'] = df['attack'].div(df['defense'], fill_value=1)
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1.000000
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,0.984127
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,0.813008

In [56]:
df['dummy'] = df['attack'] / df['defense']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1.000000
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,0.984127
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,0.813008

In [57]:
df['dummy'] = df['attack'] // df['defense']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,0

In [58]:
df['dummy'] = df['attack'] % df['defense']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,62
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,100

In [59]:
df['dummy'] = df['attack'] ** df['defense']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,-2559158286230232783
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,-9223372036854775808
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,0

In [60]:
df['dummy'] = df['attack'] - df['defense']
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,dummy
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,-1
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,-23

In [61]:
if 'dummy' in df.columns:
    df.drop(columns=['dummy'], inplace=True)

## Column wise operations

In [62]:
# Return the mean of the values over the requested axis.
df['attack'].mean()

77.85767790262172

In [63]:
df.mean(axis='columns')

0      31347.145588
1      31352.480882
2      31368.039706
3      31346.711765
4      31352.711765
           ...
796    38899.624242
797    38869.171212
798    38896.409091
799    38878.193939
800    38873.446970
Length: 801, dtype: float64

In [64]:
df.mean(axis='index')

against_bug          9.962547e-01
against_dark         1.057116e+00
against_dragon       9.687890e-01
against_electric     1.073970e+00
against_fairy        1.068976e+00
against_fight        1.065543e+00
against_fire         1.135456e+00
against_flying       1.192884e+00
against_ghost        9.850187e-01
against_grass        1.034020e+00
against_ground       1.098002e+00
against_ice          1.208177e+00
against_normal       8.870162e-01
against_poison       9.753433e-01
against_psychic      1.005306e+00
against_rock         1.250312e+00
against_steel        9.834582e-01
against_water        1.058365e+00
attack               7.785768e+01
base_egg_steps       7.191011e+03
base_happiness       6.536205e+01
base_total           4.283770e+02
defense              7.300874e+01
experience_growth    1.054996e+06
height_m             1.163892e+00
hp                   6.895880e+01
percentage_male      5.515576e+01
pokedex_number       4.010000e+02
sp_attack            7.130587e+01
sp_defense           7.091136e+01
speed                6.633458e+01
weight_kg            6.137810e+01
generation           3.690387e+00
is_legendary         8.739076e-02
dtype: float64

In [65]:
#Return the maximum of the values over the requested axis. If you want the index of the maximum, use idxmax. This isthe equivalent of the numpy.ndarray method argmax.
df.max(axis='index', numeric_only=True)

against_bug                4.0
against_dark               4.0
against_dragon             2.0
against_electric           4.0
against_fairy              4.0
against_fight              4.0
against_fire               4.0
against_flying             4.0
against_ghost              4.0
against_grass              4.0
against_ground             4.0
against_ice                4.0
against_normal             1.0
against_poison             4.0
against_psychic            4.0
against_rock               4.0
against_steel              4.0
against_water              4.0
attack                   185.0
base_egg_steps         30720.0
base_happiness           140.0
base_total               780.0
defense                  230.0
experience_growth    1640000.0
height_m                  14.5
hp                       255.0
percentage_male          100.0
pokedex_number           801.0
sp_attack                194.0
sp_defense               230.0
speed                    180.0
weight_kg                999.9
generation                 7.0
is_legendary               1.0
dtype: float64

In [66]:
# Return sample standard deviation over requested axis. Normalized by N-1 by default. This can be changed using the ddof argument
df.std(axis='index', ddof=1)

against_bug               0.597248
against_dark              0.438142
against_dragon            0.353058
against_electric          0.654962
against_fairy             0.522167
against_fight             0.717251
against_fire              0.691853
against_flying            0.604488
against_ghost             0.558256
against_grass             0.788896
against_ground            0.738818
against_ice               0.735356
against_normal            0.266106
against_poison            0.549375
against_psychic           0.495183
against_rock              0.697148
against_steel             0.500117
against_water             0.606562
attack                   32.158820
base_egg_steps         6558.220422
base_happiness           19.598948
base_total              119.203577
defense                  30.769159
experience_growth    160255.835096
height_m                  1.080326
hp                       26.576015
percentage_male          20.261623
pokedex_number          231.373075
sp_attack                32.353826
sp_defense               27.942501
speed                    28.907662
weight_kg               109.354766
generation                1.930420
is_legendary              0.282583
dtype: float64

In [67]:
# Return the sum of the values over the requested axis. This is equivalent to the method numpy.sum.
df.sum()

abilities            ['Overgrow', 'Chlorophyll']['Overgrow', 'Chlor...
against_bug                                                        798
against_dark                                                    846.75
against_dragon                                                     776
against_electric                                                860.25
against_fairy                                                   856.25
against_fight                                                    853.5
against_fire                                                     909.5
against_flying                                                   955.5
against_ghost                                                      789
against_grass                                                   828.25
against_ground                                                   879.5
against_ice                                                     967.75
against_normal                                                   710.5
against_poison                                                  781.25
against_psychic                                                 805.25
against_rock                                                    1001.5
against_steel                                                   787.75
against_water                                                   847.75
attack                                                           62364
base_egg_steps                                                 5760000
base_happiness                                                   52355
base_total                                                      343130
capture_rate         4545454545454545452551204525512045255120452551...
classfication        Seed PokémonSeed PokémonSeed PokémonLizard Pok...
defense                                                          58480
experience_growth                                            845051720
height_m                                                           909
hp                                                               55236
japanese_name        FushigidaneフシギダネFushigisouフシギソウFushigibanaフシギバ...
name                 BulbasaurIvysaurVenusaurCharmanderCharmeleonCh...
percentage_male                                                38774.5
pokedex_number                                                  321201
sp_attack                                                        57116
sp_defense                                                       56800
speed                                                            53134
type1                grassgrassgrassfirefirefirewaterwaterwaterbugb...
weight_kg                                                      47936.3
generation                                                        2956
is_legendary                                                        70
dtype: object

In [68]:
# Count non-NA cells for each column or row. The values None, NaN, NaT, and optionally numpy.inf (depending on pandas.options.mode.use_inf_as_na) are considered NA.
# OBS for binary series and DataFrames it counts both True and False (not NaNs). Use .value_counts() or .sum() instead.
df.count(axis='index')

abilities            801
against_bug          801
against_dark         801
against_dragon       801
against_electric     801
against_fairy        801
against_fight        801
against_fire         801
against_flying       801
against_ghost        801
against_grass        801
against_ground       801
against_ice          801
against_normal       801
against_poison       801
against_psychic      801
against_rock         801
against_steel        801
against_water        801
attack               801
base_egg_steps       801
base_happiness       801
base_total           801
capture_rate         801
classfication        801
defense              801
experience_growth    801
height_m             781
hp                   801
japanese_name        801
name                 801
percentage_male      703
pokedex_number       801
sp_attack            801
sp_defense           801
speed                801
type1                801
type2                417
weight_kg            781
generation           801
is_legendary         801
dtype: int64

## Group by

In [69]:
df.groupby(['type1', 'type2'], sort=True, group_keys=True)

In [70]:
next(iter(df[['type1', 'type2', 'name', 'attack', 'defense']].groupby(['type1', 'type2'])))[0]

('bug', 'electric')

In [71]:
next(iter(df[['type1', 'type2', 'name', 'attack', 'defense']].groupby(['type1', 'type2'])))[1]

    type1     type2        name  attack  defense
594   bug  electric      Joltik      47       50
595   bug  electric  Galvantula      77       60
736   bug  electric   Charjabug      82       95
737   bug  electric    Vikavolt      70       90

In [72]:
df['count'] = 1
df[['type1', 'type2', 'count']].groupby(['type1', 'type2']).count()

                count
type1 type2
bug   electric      4
      fairy         2
      fighting      3
      fire          2
      flying       13
...               ...
water ice           3
      poison        3
      psychic       5
      rock          4
      steel         1

[148 rows x 1 columns]

In [73]:
# Compute mean of groups, excluding missing values.
df[['type1', 'type2', 'attack', 'defense']].groupby(['type1', 'type2']).mean()

                    attack     defense
type1 type2
bug   electric   69.000000   73.750000
      fairy      50.000000   50.000000
      fighting  153.666667   97.000000
      fire       72.500000   60.000000
      flying     63.615385   57.076923
...                    ...         ...
water ice        83.333333  113.333333
      poison     68.333333   61.666667
      psychic    79.000000   96.000000
      rock       82.750000  115.250000
      steel      86.000000   88.000000

[148 rows x 2 columns]

In [74]:
# Compute count of group, excluding missing values.
df[['type1', 'type2', 'attack', 'defense']].groupby(['type1', 'type2']).count()

                attack  defense
type1 type2
bug   electric       4        4
      fairy          2        2
      fighting       3        3
      fire           2        2
      flying        13       13
...                ...      ...
water ice            3        3
      poison         3        3
      psychic        5        5
      rock           4        4
      steel          1        1

[148 rows x 2 columns]

In [75]:
# all methods/attributes of DataFrameGroupBy class
[elem for elem in dir(pd.core.groupby.DataFrameGroupBy) if '_' not in elem]

['agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'boxplot',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pipe',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'var']

## Dealing with large amounts of data

In [76]:
"""
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=500):
    results = df[['type1', 'type2', 'attack', 'defense']].groupby(['type1', 'type2']).sum()
    
    new_df = pd.concat([new_df, results])

"""

"\nnew_df = pd.DataFrame(columns=df.columns)\n\nfor df in pd.read_csv('modified.csv', chunksize=500):\n    results = df[['type1', 'type2', 'attack', 'defense']].groupby(['type1', 'type2']).sum()\n    \n    new_df = pd.concat([new_df, results])\n\n"

## Export/save data

In [77]:
"""
df.to_csv('pokemon_modified.txt', index=False, sep='\t')

"""

"\ndf.to_csv('pokemon_modified.txt', index=False, sep='\t')\n\n"